$Very-Dark-Purble: hsl(292, 20%, 15%);
$Dark-Purble: hsl(279, 17%, 26%);
$Sky: hsl(200, 15%, 66%);
$bg-c: hsl(290, 18.8%, 6.3%);
$bg-c2: hsl(288, 23.8%, 8.2%);

$data-c2 : #f4aeba;
$data-c : hsl(292, 20%, 15%);
// buttons color

$stack-c: hsla(200, 95%, 24%, 0.615);
$stack-hover: hsl(199.6, 94.8%, 38%);

$profit-c: rgb(70, 157, 70);
$profit-hover: rgb(15, 153, 15);

$show-data-c:rgba(149, 104, 55, 0.529);
$show-data-hover:rgb(168, 111, 49);

//popup colors
$pop-c :hsl(288, 14.5%, 27.1%);

$info-c :#171616;