@use "../abstract/" as *;

// style Data wrapper
.data {
  display: none;
  direction: rtl;
  flex-direction: column;
  margin-block-start: 1.5rem;
  margin-inline:rem(15);
  text-align: center;
  @include breakpoint-up(md){
    margin-inline: 0;
  }
  padding: rem(15);
  font-size: clamp(rem(15), 4vw, rem(18));
  border-radius: rem(10);
  transition: all 0.3s ease;
  color: $data-c2;
  background-color: $data-c;
  width: min(90%,rem(650));
  &.addBorder {
    border: rem(2) solid;
  }
}
// end style data wrapper


// style item
  .item {
    direction: rtl;
    border-bottom: rem(1) dotted;
    margin-bottom: rem(5);
    padding-block: rem(5);
    padding-inline:  3rem(3);
    display: flex;
    gap: rem(8);
    flex-wrap: wrap;
    font-size: clamp(1.188rem,0.77vw + 1.007rem,1.4rem);
    >*{
      margin-inline-start: rem(3);
    }
  
  
}
// end style item


// style Remove Info wrapper
.removeInfoWrapper{
flex-grow: 1;
display: flex;
justify-content: end;
gap:rem(15);
font-size: rem(18);
align-items: center;

.remove{
  cursor: pointer;
  ;
  i{
    padding-block: rem(5);
    padding-inline: rem(7);
  background-color: $info-c;
  color: white;
  border-radius: rem(5);
}
}

.info{
  display: inline;
  margin-inline-start: rem(5);
  padding-block: rem(5);
  padding-inline: rem(13);
  border-radius: rem(5);
  cursor: pointer;
  background-color: $info-c;
  color: white;
  font-size: rem(14);
}


}
// end style Remove Info wrapper


//  style update message
.updateMessage{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(10);
  i{
    color: #469d46;
  }
}
